
body{
  background-color: #eaeaea;
  font-family: Arial;
}

  a{
    color: #2c89ba;
    text-decoration: none;
  }

  a:hover{
    color: #174963;
    text-decoration: underline;
  }

  ul{
    padding: 0;
  }

    li{
      border-bottom: 1px solid #eaeaea;
      list-style: none;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
    li:last-child{
      border: 0;
      margin: 0;
      padding: 0;
    }

  .page{
    background-color: #fff;
    border-radius: 5px;
    margin: 40px auto;
    padding: 20px 40px 40px 40px;
    width: 600px;
  }

    input{
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 10px;
    }

    button{
      background-color: #2c89ba;
      border: none;
      border-radius: 5px;
      color: #fff;
      padding: 10px;
    }


